<?xml version="1.0"?>
<config>
    <modules>
        <Chandan_Blouse>
            <version>1.0.0</version>
        </Chandan_Blouse>
    </modules>
    <frontend>
        <routers>
            <blouse>
                <use>standard</use>
                <args>
                    <module>Chandan_Blouse</module>
                    <frontName>blouse</frontName>
                </args>
            </blouse>
        </routers>
        <layout>
            <updates>
                <blouse>
                    <file>blouse.xml</file>
                </blouse>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<blouse>
				<use>admin</use>
				<args>
					<module>Chandan_Blouse</module>
					<frontName>blouse</frontName>
				</args>
			</blouse>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<blouse module="blouse">
				<title>Blouse</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="blouse">
						<title>Manage Style</title>
						<sort_order>0</sort_order>
						<action>blouse/adminhtml_blouse</action>
					</items>
				</children>
			</blouse>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<blouse module="blouse">
							<title>Blouse</title>
							<sort_order>71</sort_order>               
							<children>
								<items module="blouse">
									<title>Manage Style</title>
									<sort_order>0</sort_order>
									<action>blouse/adminhtml_blouse</action>
								</items>
							</children>
						</blouse>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<blouse>
					<file>blouse.xml</file>
				</blouse>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <blouse>
                <class>Chandan_Blouse_Model</class>
                <resourceModel>blouse_mysql4</resourceModel>
            </blouse>
            <blouse_mysql4>
                <class>Chandan_Blouse_Model_Mysql4</class>
                <entities>
                    <blouse>
                        <table>blouse</table>
                    </blouse>
                </entities>
            </blouse_mysql4>
        </models>
        <resources>
            <blouse_setup>
                <setup>
                    <module>Chandan_Blouse</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blouse_setup>
            <blouse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blouse_write>
            <blouse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blouse_read>
        </resources>
        <blocks>
            <blouse>
                <class>Chandan_Blouse_Block</class>
            </blouse>
        </blocks>
        <helpers>
            <blouse>
                <class>Chandan_Blouse_Helper</class>
            </blouse>
        </helpers>
    </global>
	
	<adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <chandan>
                                        <title>Chandan - All</title>
                                    </chandan>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>
</config>